<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="3">
  
   <!-- Test -->
  <test thread-count="5" name="Account Creation">
    <classes>
      <class name="com.justinbett.ecommerce_demo_test.AccountCreation"/>
    </classes>
  </test>
  
   <!-- Test -->
  <test thread-count="5" name="Account Sign In and Out">
    <classes>
      <class name="com.justinbett.ecommerce_demo_test.AccountSignInOut"/>
    </classes>
  </test>
  
  <!-- Test -->
  <test thread-count="5" name="Dropdown Navigation">
    <classes>
      <class name="com.justinbett.ecommerce_demo_test.DropdownNavigation"/>
    </classes>
  </test>
  
   <!-- Test -->
  <test thread-count="5" name="Item Search">
    <classes>
      <class name="com.justinbett.ecommerce_demo_test.ItemSearch"/>
    </classes>
  </test>
  
  <!-- Test -->
  <test thread-count="5" name="Promo Test">
    <classes>
      <class name="com.justinbett.ecommerce_demo_test.PromoTest"/>
    </classes>
  </test>
  
</suite>
